.box {
    padding-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.box div {
  width: 80%; /* Placeholder width */
  flex-wrap: wrap;
}

img {
  width: auto;
  max-width: 400px;
  height: auto;
  max-height: 400px;
}